*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Monstserrat", sans-serif;
    font-size: 20px;

}

body{
    background-color: rgb(31, 35, 46);
}

.header{
    background-color: rgb(43, 48, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px, 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 45px;
    width: auto;
    transition: all 0.3s;
    margin-left: 10px;
   
}

.header .logo img:hover{
    transform: scale(1.2);

}

.header .nav-links{
    list-style: none;
    
    
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    
}

.header  .nav-links li a{
    text-decoration: none;
    color: rgb(253, 255, 223);
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    
}

.header .nav-links li:hover{
    transform: scale(1.2);
    transition: all 0.2s;
    
     
}

.header .nav-links li a:hover{
    font-size: 700;
    text-decoration: none;
    color: rgb(253, 255, 223);
    transition: all 0.3s;   
}

.header .boton button{
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background-color: rgb(218, 227, 235);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 20px;
    font-family: "Raleway", sans-serif;
}

.header .boton button:hover{
    background-color:rgb(237, 249, 255);
    color: rgb(79, 110, 128);
}
